body {
	background-color: lightgrey;
}

h1#careertitle{
	background-color: #6ebeca;
	border:solid 3px;
	border-color: white;
	font-family: verdana;
	font-color: white;
	padding-left: 5px;
}

ol{

}

img#cuvl-logo {
	width: 100px;
	height: 100px;
}

img#utn-logo {
	width: 60px;
	height: 80px;
}